<h1>Listing contacts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Shortinfo</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.name %></td>
    <td><%= contact.surname %></td>
    <td><%= contact.shortinfo %></td>
    <td><%= contact.category %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>
